* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

* body {
  /*text-align: center;*/
  font-size: 15px;
  line-height: 1.6;
  background-color: #ffffff;
  overflow: scroll;
}

* body h1 {
  font-size: 36px;
  color: #333;
  margin-top: 8%;
}

* body h3 {
  font-size: 12px;
  color: white;
}

.header {
  background-color: #2e2e2e;
  width: 100%;
}

.header .header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .header .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .header .header__wrapper ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .header__wrapper .links-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
}

.header .header__wrapper .links-section ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__wrapper .links-section ul li {
  list-style: none;
  margin: 1px;
}

.header .header__wrapper .links-section ul li a {
  color: #9f9f9f;
  text-decoration: none;
  margin: 1px;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__wrapper .links-section ul li a::before {
  content: '';
  border-left: #bbbbbb 1px solid;
  margin-right: 1em;
}

.header .header__wrapper .links-section ul li a:hover {
  color: #0099ff;
}

.header .header__wrapper .social-icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.header .header__wrapper .social-icon-section .social-icons {
  list-style: none;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__wrapper .social-icon-section .social-icons li {
  display: inline;
  padding-left: 20px;
}

.header .header__wrapper .social-icon-section .social-icons li a {
  color: #fff;
  text-decoration: none;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-facebook-f {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100%;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-facebook-f:hover {
  background-color: #3d5b99;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-twitter {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100%;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-twitter:hover {
  background-color: #00aced;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-rss {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100%;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-rss:hover {
  background-color: #eb8231;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-youtube {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100%;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-youtube:hover {
  background-color: #e64a41;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-linkedin-in {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100%;
}

.header .header__wrapper .social-icon-section .social-icons li a .fa-linkedin-in:hover {
  background-color: #0073a4;
}

.list-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
}

.list-section .list__wrapper {
  border-bottom: 4px solid #f1f1f1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 5px;
  width: 100%;
}

.list-section .list__wrapper .nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.list-section .list__wrapper ul {
  height: auto;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-section .list__wrapper ul li {
  text-decoration: none;
  list-style: none;
  height: 40px;
  margin-left: 2em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.list-section .list__wrapper ul li a {
  color: #2e2e2e;
  text-decoration: none;
  padding: 1em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.list-section .list__wrapper ul li a:hover {
  color: #9f9f9f;
  border-bottom: 2px solid #0099ff;
}

.list-section .list__wrapper ul li:hover {
  color: #9f9f9f;
  border-bottom: 4px solid #0099ff;
}

.list-section .list__wrapper .burger {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.list-section .list__wrapper .burger:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .list-section .list__wrapper .list__wrapper {
    border-bottom: none;
  }
  .list-section .list__wrapper .nav-ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    background-color: #2e2e2e;
    padding-top: 2em;
  }
  .list-section .list__wrapper .nav-ul li {
    margin-top: 1em;
    margin-left: 0em;
  }
  .list-section .list__wrapper .nav-ul a {
    color: #fff;
  }
  .list-section .list__wrapper .nav-ul.show {
    display: block;
  }
  .list-section .list__wrapper .burger {
    display: block;
    color: #7c7c7c;
    z-index: 222;
  }
}

.logo-section {
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: auto;
}

.logo-section .logo__content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1em;
}

@media (max-width: 1200px) {
  .logo-section .logo__content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.logo-section .logo__content__wrapper .logo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15px;
}

.logo-section .logo__content__wrapper .input__wrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.logo-section .logo__content__wrapper .input__wrapper .form-inline {
  width: 100%;
}

@media (max-width: 995px) {
  .logo-section .logo__content__wrapper .input__wrapper .form-inline {
    display: inline-block;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
  .logo-section .logo__content__wrapper .input__wrapper .form-inline button {
    margin-top: 10px;
  }
}

.logo-section .logo__content__wrapper .input__wrapper .form-inline button {
  text-transform: uppercase;
  color: white;
  width: 125px;
  background: #0099ff;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.logo-section .logo__content__wrapper .input__wrapper .form-inline button:hover {
  background-color: #106298;
}

.slider-section {
  width: 100%;
  background: #f1f1f1;
  border-bottom: 5px solid #e9e9e9;
  border-top: 5px solid #e9e9e9;
  height: 460px;
}

@media screen and (max-width: 770px) {
  .slider-section {
    height: 1000px;
    background-color: #f1f1f1;
  }
}

.slider-section .carousel-indicators li {
  border: 1px solid black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: grey;
}

.slider-section .text {
  font-family: Georgia;
  margin-top: 13%;
  width: 350px;
  height: 300px;
  text-align: left;
}

.slider-section .text h2 {
  font-size: 30px;
  color: #333;
}

.slider-section .text p {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.slider-section .text a {
  text-transform: uppercase;
  color: white;
  width: 125px;
  background: #0099ff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.slider-section .text a:hover {
  background-color: #00639b;
}

.slider-section .mrg {
  padding-top: 10px;
  width: 400px;
  height: 440px;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-section .rounded {
  text-align: center;
  width: 100%;
  background: #333333;
  color: white;
}

.intro {
  width: 100%;
  height: auto;
  background-color: #FFF;
  font-family: Georgia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .i-left {
  padding-top: 50px;
}

.intro .i-left img {
  width: 100%;
}

.intro .card {
  width: 225px;
  height: 228px;
  top: 10px;
}

.intro .card .card-img-top {
  background-repeat: no-repeat;
  background-size: contain;
  width: 85px;
  height: 80px;
}

.intro .card .card-body {
  text-align: center;
}

.intro .card .card-body p {
  font-size: 13px;
}

.contact_us {
  height: auto;
  width: 100%;
  background-color: #FFF;
  padding-bottom: 2em;
  padding-top: 2em;
}

.contact_us .contact__wrapper {
  background-color: #e0e0e0;
  width: 100%;
  height: auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 10px solid #33B2FF;
}

@media (max-width: 881px) {
  .contact_us .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.contact_us .contact__wrapper .contact__us__text {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 1em;
}

.contact_us .contact__wrapper .contact__us__text h3 {
  font-size: 2em;
  margin-top: 1em;
  color: #333333;
}

.contact_us .contact__wrapper .contact__us__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 875px) {
  .contact_us .contact__wrapper .contact__us__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact_us .contact__wrapper .contact__us__btn button {
  border-radius: 25px;
  font-size: 2em;
  background-color: #33B2FF;
  border: 1px solid #33B2FF;
}

.contact_us .contact__wrapper .contact__us__btn button:hover {
  background-color: #4586b1;
}

.nav-footer {
  height: auto;
  width: 100%;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-footer .nav__footer__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
  height: auto;
  gap: 20px;
  padding-bottom: 2em;
}

@media screen and (max-width: 1200px) {
  .nav-footer .nav__footer__wrapper {
    padding-top: 100px;
    padding-bottom: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 641px) {
  .nav-footer .nav__footer__wrapper {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.nav-footer .nav__footer__wrapper h3 {
  font-size: 0.8em;
  color: #FFF;
}

.nav-footer .nav__footer__wrapper .nav__footer__item {
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
}

.nav-footer .nav__footer__wrapper .nav__footer__item .item__text {
  background-color: #1a1a1a;
}

.nav-footer .nav__footer__wrapper .nav__footer__item img {
  width: 225px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://images.pexels.com/photos/3861976/pexels-photo-3861976.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.nav-footer .nav__footer__wrapper .nav__footer__item p {
  color: #666666;
  font-size: 12px;
}

.nav-footer .nav__footer__wrapper .nav__footer__item .read {
  color: #0099ff;
  text-decoration: none;
  font-size: 12px;
  padding-left: 50%;
}

.nav-footer .nav__footer__wrapper .nav__footer__item .read:hover {
  color: skyblue;
}

.nav-footer .nav__footer__wrapper .card-list {
  list-style: none;
  display: inline-block;
}

.nav-footer .nav__footer__wrapper .card-list li {
  width: 230px;
  border-bottom: 2px solid grey;
  padding-top: 5px;
}

.nav-footer .nav__footer__wrapper .card-list li a {
  padding: 0;
  margin: 0;
  color: #0099ff;
  font-size: 16px;
}

.nav-footer .nav__footer__wrapper .card-list li a:hover {
  margin-left: 10px;
  color: skyblue;
}

.nav-footer h5 {
  font-weight: bold;
  color: #666666;
  font-size: 12px;
}

.nav-footer p {
  color: #666666;
  font-size: 12px;
}

.nav-footer a {
  padding-left: 60%;
}

.nav-footer a:hover {
  text-decoration: none;
  color: skyblue;
}

.nav-footer input {
  height: 32px;
  width: 225px;
  margin: 5px;
  background: #232323;
  border-radius: 10px;
  border: 1px solid #232323;
}

.nav-footer .bar_message {
  width: 225px;
  height: 113px;
  background: #232323;
  border-radius: 10px;
  border: 1px solid #232323;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
  padding-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 770px) {
  .footer {
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer_right {
  padding-left: 70%;
  color: #666666;
}
/*# sourceMappingURL=blocks.css.map */