.contact_us{
    height: auto;
    width: 100%;
    background-color: #FFF;
    padding-bottom: 2em;
    padding-top: 2em;

    .contact__wrapper{
        background-color: #e0e0e0;
        width: 100%;
        height: auto;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        border-left: 10px solid #33B2FF;

        @media (max-width: 881px) {
            flex-direction: column;
            text-align: center;
        }

        .contact__us__text{
            width: 100%;
            height: auto;
            display: inline-block;
            padding-left: 1em;

            h3{
                font-size: 2em;
                margin-top: 1em;
                color: #333333;
            }
        }

        .contact__us__btn{
            width: 100%;
            display: flex;
            padding: 1em;
            justify-content: flex-end;

            @media (max-width: 875px) {
                justify-content: center;
            }

            button{
                border-radius: 25px;
                font-size: 2em;
                background-color: #33B2FF;
                border:1px solid #33B2FF;

                &:hover{
                    background-color: #4586b1; 
                }
            }
        }
    }
}