.nav-footer{
    height: auto;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    
    .nav__footer__wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top:20px;
        height: auto;
        gap: 20px;
        padding-bottom: 2em;

        @media screen and (max-width: 1200px) {
            padding-top: 100px;
            padding-bottom: 30px;
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 641px) {
            text-align: center;
            grid-template-columns: 1fr;
        }

        h3{
            font-size: 0.8em;
            color: #FFF;
        }

        .nav__footer__item{
            width: 100%;
            height: auto;
            background-color: #1a1a1a;

            .item__text{
                background-color: #1a1a1a;
            }
            img{
                width: 225px;
                height: 100px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(https://images.pexels.com/photos/3861976/pexels-photo-3861976.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
            }

            p{
                color: #666666;
                font-size: 12px;
            }
            .read{
                color: #0099ff;
                text-decoration: none;
                font-size: 12px;
                padding-left: 50%;

                &:hover{
                    color: skyblue;
                }
            }
        }


            .card-list{
                list-style: none;
                display: inline-block;
    
                li{
                    width: 230px;
                    border-bottom: 2px solid grey;
                    padding-top: 5px;
                    a{
                        padding:0;
                        margin:0;
                        color: #0099ff;
                        font-size: 16px;

                        &:hover{
                            margin-left: 10px;
                            color:skyblue;
                        }
                    }
                }
            }
        }

        h5{
            font-weight: bold;
            color: #666666;
            font-size: 12px;
        }
        p{
            color: #666666;
            font-size: 12px;
        }
        a{
            padding-left: 60%;

            &:hover {
                text-decoration: none;
                color: skyblue;
            } 
        }
        input{
            height: 32px;
            width: 225px;
            margin: 5px;
            background: #232323;
            border-radius: 10px;
            border: 1px solid #232323;
        }

        .bar_message{
            width: 225px;
            height: 113px;
            background: #232323;
            border-radius: 10px;
            border: 1px solid #232323;
        }
    }

.footer{   
    width: 100%;   
    height: 60px;  
    background-color: #222222;
    display: flex; 
    color: #666666;
    padding-top: 20px;
    font-size: 12px;  

    @media screen and (max-width: 770px) {
        height: 120px;
        align-items: center;
    }

    .footer_right{
        padding-left: 70%;
        color: #666666;
    }
} 