.header{
    background-color: #2e2e2e;   
    width: 100%;

    .header__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            text-align: center;

            ul{
                justify-content: center;
            }
        }

        .links-section{
            width: 100%;  
            display: flex; 
            padding-top: 1em;

            ul{
                width: 100%;
                display: flex;
    
                li{
                    list-style: none;
                    margin: 1px;
    
                    a{
                        color: #9f9f9f;
                        text-decoration:none;
                        margin: 1px;
                        font-size: 15px;
                        transition: 0.3s;

                        &::before{
                            content: '';
                            border-left: #bbbbbb 1px solid;
                            margin-right: 1em;
                        }
                        &:hover{
                            color:#0099ff;
                        }
                    }
                }
            }
        }
        .social-icon-section{
            display: flex;
            height: auto;

            .social-icons{
                list-style: none;
                padding-top: 15px;
                display: flex;
        
                li{
                    display: inline;
                    padding-left: 20px;
            
                    a{
                        color: #fff;
                        text-decoration: none;
        
                        .fa-facebook-f{
                            padding:10px 12px;
                            transition: .5s;
                            background-color: #322f30;
                            border-radius: 100%;
             
                            &:hover {
                                background-color: #3d5b99;
                            }
                        }
        
                        .fa-twitter {
                            padding:10px 12px;
                            transition: .5s;
                            background-color: #322f30;
                            border-radius: 100%;
        
                            &:hover {
                                background-color: #00aced;
                            }
                        }
        
                        .fa-rss {
                            padding:10px 12px;
                            transition: .5s;
                            background-color: #322f30;
                            border-radius: 100%;
        
                            &:hover {
                                background-color: #eb8231;
                            }
                        }
        
                        .fa-youtube {
                            padding:10px 12px;
                            transition: .5s;
                            background-color: #322f30;
                            border-radius: 100%;
        
                            &:hover {
                                background-color: #e64a41;
                            }
                        }
                        .fa-linkedin-in{
                            padding:10px 14px;
                            transition: .5s;
                            background-color: #322f30;
                            border-radius: 100%;
        
                            &:hover {
                                background-color: #0073a4;
                            }
                        }
                    }
                }                
            }
        }
    }
}