*{
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    
    body{
        /*text-align: center;*/
        font-size:15px;
        line-height: 1.6;
        background-color: #ffffff;
        overflow: scroll;
    
        h1{
            font-size: 36px;
            color: #333;
            margin-top: 8%;
        }
        h3{
            font-size: 12px;
            color:white;
        }
    }
}