.logo-section{
    width: 100%;
    overflow: auto;
    display: flex;
    background-color: white;
    height: auto;

    .logo__content__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;

        @media (max-width: 1200px) {
            flex-direction: column;
            text-align: center;
        }
        .logo{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 15px;
        }

        .input__wrapper{
            width: 45%;
            display: flex;
            margin-top: 2em;

            .form-inline{
                width: 100%;
                
                @media (max-width: 995px) {
                    display: inline-block;
                    flex-flow: nowrap;

                    button{
                        margin-top: 10px;
                    }
                }
    
                button{
                    text-transform: uppercase;
                    color: white;
                    width: 125px;
                    background: #0099ff;
                    padding: 10px;
                    border-radius: 10px;
                    border:none;
        
                    &:hover{
                        background-color: #106298;
                    }
    
                }
            }
        }
    }
}