.logo-section{
    overflow: auto;
    background-color: white;
    height: 100px;  
        .logo{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 15px;
        }
    
    .srcc{
        margin-top: 20px; 

        .form-inline{
            padding-left: 33%;

            .search{
                margin-right: 20px;
                padding-top: 10px;
                position: relative;
            }
            button{
                text-transform: uppercase;
                color: white;
                width: 125px;
                background: #0099ff;
                padding: 10px;
                border-radius: 10px;
                border:none;
    
                &:hover{
                    background-color: #106298;
                }

            }
        }

        @media (max-width:850px) {
            display: none;
        }
    }
}